.map {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    justify-content: center;
    align-items: center;
}

.gmap_canvas {
    overflow: hidden;
    padding: 10px;
    background: gray;
    width: clamp(200px, 75%, 800px);
    aspect-ratio: 3/2;
    border-radius: 10px;
}

.gmap_canvas iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 10px;
}

#maps {
    width: clamp(200px, 75%, 800px);
    aspect-ratio: 3/2;
}

.contact {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: clamp(320px, 90%, 960px);
    height: 100%;
    justify-content: center;
    align-items: center;
}

.contact-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    border-radius: 20px;
}

.grid-left {
    display: flex;
    height: 100%;
    grid-area: 1/1/2/2;
    background-color: red;
    justify-content: center;
    align-items: center;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    transition: transform 1s ease-in;
}

.grid-right {
    padding: 25px 0;
    height: 100%;
    grid-area: 1/2/2/3;
    background-color: green;
    border-radius: 0 20px 20px 0;
    z-index: 2;
}

.grid-title {
    font-size: 48px;
}

form input, form textarea {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    padding-left: 5px;
    width: 80%;
    background-color: rgb(175, 175, 175);
    border: none;
    border-radius: 10px;
}

form input:hover, form textarea:hover {
    background-color: whitesmoke;
}

form input {
    min-height: 50px;
}

form textarea {
    padding-top: 5px;
    min-height: 200px;
}

#submit {
    margin-right: 10%;
    padding: 5px 40px;
    width: auto;
    background-color: aqua;
}

.title-contact {
    margin-bottom: 25px;
}

.title-contact-secondary {
    display: none;
    margin-bottom: 25px;
    font-size: 48px;
}

@media screen and (max-width: 900px) {
    .contact {
        width: clamp(320px, 90%, 400px);
    }
    .contact-grid {
        grid-template-columns: 1fr;
    }
    .grid-right {
        grid-area: 1/1/2/3;
        border-radius: 20px;
    }
    .grid-left {
        display: none;
    }
    .title-contact-secondary {
        display: initial;
    }
}