/* Corps de la page entière */
* {
  background-color: #AEE0FA;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #004163;
  font-size: 0,5rem;
}
p {
  flex-direction: initial;
  text-align: justify;
 
}

body {
  background-color:#AEE0FA;
  
}
.home {
  color: #004163;
  
}
img {
  align-content: space-between;
   width: 400px;
   height: 400px;

}

.photo-historique {
  border : 2px solid #000000;
   box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
  
   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   -ms-transition: all 0.2s;
   -o-transition: all 0.2s;
   transition: all 0.2s;
}

.photo-historique:hover {
   transform:scale(1.2);
}

/*@media {
  max-width: 100%;

}

/* Titre des paragraphes */

h1 {
  background-color: #AEE0FA;
  font-size: 0,1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  background-color:#AEE0FA;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #004163;
  font-size: medium;
}
/* Les paragraphes*/

h3 {
  
  /* align-items: center;
  align-content: center; */
  text-align:center;
  background-color: #AEE0FA;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #355261;
  font-size:medium;


}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  height: 100px;
  height: 200px;
}

 nav ul {
    list-style: none;
    text-align: left;
    justify-content: space-evenly; 
}

nav ul li {
  display: inline;
  align-items: flex-start;
  
}

ul {
  list-style: none;
  text-align: start;
 
}

/* ************ */

.flex-container {
  display: flex;

  width: 100%;
  overflow: hidden;
}


p.footer-basic {

  text-align: center;
}








































.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:icity: 0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
   .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  } 
   
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
   }

  
    