/* Corps de la page entière */
* {
<<<<<<< HEAD
  background-color: #AEE0FA;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
=======
  background-color: #5f92ad;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
>>>>>>> c4dea3a (Merge index.html)
  color: #004163;
  font-size: 0, 5rem;
}
p {
<<<<<<< HEAD
  flex-direction: initial;
  text-align: justify;
 
}

body {
  background-color:#AEE0FA;
  
}
.home {
  color: #004163;
  
}
img {
  align-content: space-between;
   width: 400px;
   height: 400px;

}

.photo-historique {
  border : 2px solid #000000;
   box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
  
   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   -ms-transition: all 0.2s;
   -o-transition: all 0.2s;
   transition: all 0.2s;
}

.photo-historique:hover {
   transform:scale(1.2);
}

/*@media {
  max-width: 100%;

}
=======
  width: 400px;
  overflow: hidden;
}
body {
  background-color: #5f92ad;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  background: none;
}

.manual-btn {
  border: 2px solid #5f92ad;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  background: none;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #5f92ad;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

.navigation-auto {
  position: absolute;
  background: none;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div {
  border: 2px solid #5f92ad;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
  background: none;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #5f92ad;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #5f92ad;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #5f92ad;
}


>>>>>>> c4dea3a (Merge index.html)

/* Titre des paragraphes */

h1 {
<<<<<<< HEAD
  background-color: #AEE0FA;
  font-size: 0,1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2 {
  background-color:#AEE0FA;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
=======
  background-color: #5f92ad;
  font-size: 0, 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  background-color: #5f92ad;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
>>>>>>> c4dea3a (Merge index.html)
  color: #004163;
  font-size: medium;
}
/* Les paragraphes*/

h3 {
<<<<<<< HEAD
  
  /* align-items: center;
  align-content: center; */
  text-align:center;
  background-color: #AEE0FA;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #355261;
  font-size:medium;


}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;  
  height: 100px;
  height: 200px;
=======
  align-items: center;
  align-content: center;
  background-color: #5f92ad;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #004163;
}
nav {
  display: flex;
>>>>>>> c4dea3a (Merge index.html)
}

nav ul {
  list-style: none;
  text-align: left;
  justify-content: space-evenly;
}

nav ul li {
  display: inline;
  align-items: flex-start;
  
}

<<<<<<< HEAD
ul {
  list-style: none;
  text-align: start;
 
}

/* ************ */

.flex-container {
  display: flex;

  width: 100%;
  overflow: hidden;
}


p.footer-basic {

  text-align: center;
}








































.footer-basic {
=======
/* ************ */

/* .footer-basic {
>>>>>>> c4dea3a (Merge index.html)
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:icity: 0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
   .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  } 
   
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
<<<<<<< HEAD
   }

  
    
=======
  } */
>>>>>>> c4dea3a (Merge index.html)
